@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "regular", sans-serif;
  background: rgba(29, 32, 53);
  color: white;
  overflow-x: hidden;
  scroll-behavior: smooth !important;
}

.gradient-shadow {
  box-shadow: 2.2px -1.1px 4.4px 0px #008af233 inset;
  box-shadow: -2.2px 1.1px 12.5px 0px #008af233 inset;
  box-shadow: 0px 10px 40px 0px #00000040;
}

.gradient-shadow-2 {
  box-shadow: 2.2px -1.1px 4.4px 0px #008af233 inset;
  box-shadow: -2.2px 1.1px 12.5px 0px #008af233 inset;
}
.gradient-shadow-thick {
  box-shadow:
    inset 0.5px -0.5px 7px 10px #0089f21a,
    inset 0px 0px 20px 15px #0089f224;
}

.text-blue-gradient {
  background: linear-gradient(
    100.29deg,
    #00f4ff 10.12%,
    #008af2 86.31%,
    #0020e4 100.51%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.text-blue-gradient-inverted {
  background-color: white;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
}

.gradient-trinity-border {
  background:
    linear-gradient(rgba(51, 54, 76, 0.9), rgba(34, 36, 48, 0.9)) padding-box,
    linear-gradient(100deg, #00f4ff 1%, #008af2 50%, #0020e4 90%) border-box;
  border: 2px solid transparent;
  border-radius: 20px;
}

.bg-gradient-radial {
  background-size: 100% 100%;
  background-position: 0px 0px;
  background-image: radial-gradient(
    55% 90% at 50% 90%,
    #00f2ff16 40%,
    #0000001f 100%
  );
}

.bg-newsletter {
  background: linear-gradient(
    100.2deg,
    rgba(0, 244, 255, 0.2) -7.1%,
    rgba(0, 138, 242, 0.2) 53.52%,
    rgba(0, 32, 228, 0.2) 114.15%
  );
}
.text-gradient {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.changed-scroll::-webkit-scrollbar {
  background-color: #232323;
  width: 13px;
}

.changed-scroll::-webkit-scrollbar-thumb {
  background-color: #c2c1c1;
  border-radius: 10px;
  border: 3px solid #232323;
  background: linear-gradient(
    100.2deg,
    #00f4ff -7.1%,
    #008af2 53.52%,
    #0020e4 114.15%
  );
}

.custom-scroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  overflow-x: hidden;
}
.custom-scroll::-webkit-scrollbar-track {
  background: linear-gradient(
    100.2deg,
    #00f4ff -7.1%,
    #008af2 53.52%,
    #0020e4 114.15%
  );
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: transparent;
  box-shadow: 0px 0px 0px 100000vh #000000c8;
}

@layer base {
  :root {
    /* --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.75rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark { */
    --background: 233, 29%, 16%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  h1 {
    @apply prose font-bold !text-white prose-h1:text-white max-md:text-4xl md:text-5xl;
  }
  h2 {
    @apply prose text-center font-bold !text-white prose-h2:text-white max-md:text-3xl md:text-4xl;
  }
  h3 {
    @apply prose text-center font-medium !text-white prose-h3:text-white max-md:text-2xl md:text-3xl;
  }
  h4 {
    @apply prose text-center !text-white prose-h4:text-white max-md:text-xl md:text-2xl;
  }
  h5 {
    @apply rounded-full border border-white px-6 py-3 text-xl max-md:text-sm;
  }
  p {
    @apply text-balance max-md:text-base md:text-lg;
  }
}
